<!--
  Bootstrap Pagination Partial for TYPO3 Backend
  Variables:
    - pagination: TYPO3\CMS\Core\Pagination\AbstractPagination (SimplePagination)
    - moduleData: array (all module data, will be passed as arguments)
-->
<f:if condition="{pagination.lastPageNumber} > 1">
  <nav
    aria-label="{f:translate(key: 'LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.pagination.navigation')}"
  >
    <ul class="pagination">
      <f:if condition="{pagination.previousPageNumber}">
        <li class="page-item">
          <a
            href="{be:moduleLink(route: 'mindfula11y_missingalttext', arguments: {id: moduleData.id, languageId: moduleData.languageId, pageLevels: moduleData.pageLevels, tableName: moduleData.tableName, filterFileMetaData: moduleData.filterFileMetaData, currentPage: pagination.previousPageNumber})}"
            class="page-link"
          >
            {f:translate(key:
            'LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.pagination.previous')}
          </a>
        </li>
      </f:if>
      <f:for each="{pagination.allPageNumbers}" as="pageNumber">
        <li
          class="page-item{f:if(condition: '{pageNumber} == {paginator.currentPageNumber}', then: ' active')}"
        >
          <a
            href="{be:moduleLink(route: 'mindfula11y_missingalttext', arguments: {id: moduleData.id, languageId: moduleData.languageId, pageLevels: moduleData.pageLevels, tableName: moduleData.tableName, filterFileMetaData: moduleData.filterFileMetaData, currentPage: pageNumber})}"
            class="page-link"
            aria-label="{f:translate(key: 'LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.pagination.page', arguments: {0: pageNumber})}"
            aria-current="{f:if(condition: '{pageNumber} == {paginator.currentPageNumber}', then: 'page', else: 'false')}"
          >
            {pageNumber}
          </a>
        </li>
      </f:for>
      <f:if condition="{pagination.nextPageNumber}">
        <li class="page-item">
          <a
            href="{be:moduleLink(route: 'mindfula11y_missingalttext', arguments: {id: moduleData.id, languageId: moduleData.languageId, pageLevels: moduleData.pageLevels, tableName: moduleData.tableName, filterFileMetaData: moduleData.filterFileMetaData, currentPage: pagination.nextPageNumber})}"
            class="page-link"
          >
            {f:translate(key:
            'LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.pagination.next')}
          </a>
        </li>
      </f:if>
    </ul>
  </nav>
</f:if>
