<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:mindfula11y="http://typo3.org/ns/MindfulMarkup/MindfulA11y/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header_layout} != 100">
  <f:if condition="{data.header} || {data.subheader} || {data.date}">

    <mindfula11y:heading recordUid="{f:if(condition: data._LOCALIZED_UID, then: data._LOCALIZED_UID, else: data.uid)}"
      type="{data.tx_mindfula11y_headingtype}" id="c{data.uid}-heading">
      {data.header}</mindfula11y:heading>
  </f:if>
</f:if>

</html>