<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:mindfula11y="http://typo3.org/ns/MindfulMarkup/MindfulA11y/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <h1>
      <f:translate
        key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:mlang_tabs_tab"
      />
    </h1>

    <f:if condition="{enableMissingAltText}">
      <section class="callout callout-notice">
        <div class="callout-content">
          <div class="callout-body">
            <f:if condition="{fileReferenceCount} > 0">
              <f:then>
                <p>
                  <f:translate
                    key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.count"
                    arguments="{0: fileReferenceCount}"
                  />
                  <f:if condition="{missingAltTextUri}">
                    <a
                      href="{missingAltTextUri}"
                      class="btn btn-sm btn-default"
                    >
                      <f:translate
                        key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.viewAll"
                      />
                    </a>
                  </f:if>
                </p>
              </f:then>
              <f:else>
                <f:translate
                  key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.noMissingAltText"
                />
              </f:else>
            </f:if>
          </div>
        </div>
      </section>
    </f:if>
  
    <f:if condition="{enableHeadingStructure} || {enableLandmarkStructure}">
      <section class="callout callout-notice">
        <div class="callout-content">
          <div class="callout-title">
            <h2>
              <f:translate
                key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:structureErrors"
              />
            </h2>
          </div>
          <div class="callout-body">
            <mindfula11y-structure-errors
              previewUrl="{previewUrl}"
              headingStructureUrl="{headingStructureUri}"
              landmarkStructureUrl="{landmarkStructureUri}"
              enableHeadingStructure="{enableHeadingStructure}"
              enableLandmarkStructure="{enableLandmarkStructure}"
            />
          </div>
        </div>
      </section>
    </f:if>

  </f:section>
</html>
