<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:mindfula11y="http://typo3.org/ns/MindfulMarkup/MindfulA11y/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <h1>
      <f:translate
        key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:mlang_tabs_tab"
      />
    </h1>

    <f:if condition="{enableHeadingStructure}">
      <section class="callout callout-notice">
        <div class="callout-content">
          <div class="callout-title">
            <h2>
              <f:translate
                key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:headingStructure"
              />
            </h2>
          </div>
          <div class="callout-body">
            <mindfula11y-heading-structure previewUrl="{previewUrl}" />
          </div>
        </div>
      </section>
    </f:if>

    <f:if condition="{enableMissingAltText}">
      <section class="callout callout-notice">
        <div class="callout-content">
          <div class="callout-title">
            <h2>
              <f:translate
                key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText"
              />
            </h2>
          </div>
          <div class="callout-body">
            <f:if condition="{fileReferences -> f:count()} > 0">
              <f:then>
                <ul class="list-unstyled mb-0">
                  <f:for
                    each="{fileReferences}"
                    as="fileReference"
                    iteration="iterator"
                  >
                    <li
                      class="{f:if(condition: iterator.isFirst, else: 'mb-3')}"
                    >
                      <f:alias
                        map="{originalResource: fileReference.originalResource}"
                      >
                        <mindfula11y:altlessFileReference
                          fileReference="{fileReference}"
                          previewUrl="{f:uri.image(image: originalResource, maxHeight: 150)}"
                          originalUrl="{f:uri.image(image: originalResource)}"
                        />
                      </f:alias>
                    </li>
                  </f:for>
                </ul>
              </f:then>
              <f:else>
                <f:translate
                  key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:missingAltText.noMissingAltText"
                />
              </f:else>
            </f:if>
          </div>
        </div>
      </section>
    </f:if>
  </f:section>
</html>
