<f:layout name="Backend" />

<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <f:if condition="{previewUrl}">
      <section class="callout callout-notice">
        <div class="callout-content">
          <div class="callout-title">
            <h1>
              <f:translate
                key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:landmarkStructure"
              />
            </h1>
          </div>
          <div class="callout-body">
            <p class="mb-2">
              {f:translate(key:
              'LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:landmarkStructure.intro')}
            </p>
            <p class="text-muted mb-3 small">
              {f:translate(key:
              'LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:landmarkStructure.intro.roles')}
            </p>
            <mindfula11y-landmark-structure previewUrl="{previewUrl}" />
          </div>
        </div>
      </section>
    </f:if>
  </f:section>
</html>
