<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:mindfula11y="http://typo3.org/ns/MindfulMarkup/MindfulA11y/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <section class="callout callout-notice">
      <div class="callout-content">
        <div class="callout-title">
          <h1>
            <f:translate
              key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:altText"
            />
          </h1>
        </div>
        <div class="callout-body">
          <f:if condition="{paginator.paginatedItems -> f:count()} > 0">
            <f:then>
              <ul class="list-unstyled mb-0" role="list">
                <f:for
                  each="{paginator.paginatedItems}"
                  as="fileReference"
                  iteration="iterator"
                >
                  <li class="{f:if(condition: iterator.isFirst, else: 'mb-3')}" role="listitem">
                    <f:alias
                      map="{originalResource: fileReference.originalResource}"
                    >
                      <mindfula11y:altlessFileReference
                        fileReference="{fileReference}"
                        previewUrl="{f:uri.image(image: originalResource, maxHeight: 150)}"
                        originalUrl="{f:uri.image(image: originalResource)}"
                      />
                    </f:alias>
                  </li>
                </f:for>
              </ul>
              <f:render
                partial="Backend/MissingAltText/Pagination"
                arguments="{pagination: pagination, paginator: paginator, moduleData: moduleData}"
              />
            </f:then>
            <f:else>
              <f:translate
                key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:altText.noMissingAltText"
              />
            </f:else>
          </f:if>
        </div>
      </div>
    </section>
  </f:section>
</html>
