<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <section class="callout callout-notice">
      <div class="callout-content">
        <div class="callout-title">
          <h1>
            <f:translate
              key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:scan"
            />
          </h1>
        </div>
        <div class="callout-body">
          <mindfula11y-scan
            createScanDemand="{createScanDemand -> f:format.json()}"
            crawlScanDemand="{crawlScanDemand -> f:format.json()}"
            scanId="{scanId}"
            autoCreateScan="{autoCreateScan}"
            pageUrlFilter="{pageUrlFilter -> f:format.json()}"
            urlList="{urlList -> f:format.json()}"
            reportBaseUrl="{reportBaseUrl}"
          ></mindfula11y-scan>
        </div>
      </div>
    </section>
  </f:section>
</html>
