<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <h1>
      <f:translate
        key="LLL:EXT:mindfula11y/Resources/Private/Language/Modules/Accessibility.xlf:scan"
      />
    </h1>
    <mindfula11y-scan
      scan-id="{scanId}"
      create-scan-demand="{createScanDemand -> f:format.json()}"
      crawl-scan-demand="{crawlScanDemand -> f:format.json()}"
      page-url-filter="{pageUrlFilter -> f:format.json()}"
      url-list="{urlList -> f:format.json()}"
      report-base-url="{reportBaseUrl}"
      {f:if(condition: autoCreateScan, then: 'auto-create-scan')}
      {f:if(condition: aiAuditAvailable, then: 'ai-audit-available')}
      {f:if(condition: aiAuditDefault, then: 'ai-audit-default')}
    ></mindfula11y-scan>
  </f:section>
</html>
