services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  MindfulMarkup\MindfulA11y\:
    resource: "../Classes/*"
    exclude: "../Classes/Domain/Model/*"

  # Event listeners
  MindfulMarkup\MindfulA11y\EventListener\WebLayoutInfo:
    tags:
      - name: event.listener
        identifier: 'mindfula11y-web-layout-info'
        event: TYPO3\CMS\Backend\Controller\Event\ModifyPageLayoutContentEvent
        method: __invoke

  MindfulMarkup\MindfulA11y\Command\CleanupScanIdsCommand:
    tags:
      - name: 'console.command'
        command: 'mindfula11y:cleanupscanids'
        description: 'Clean up old accessibility scan IDs based on configurable timeout'
