services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  MindfulMarkup\MindfulA11y\:
    resource: "../Classes/*"
    exclude: "../Classes/Domain/Model/*"

  # Event listeners
  MindfulMarkup\MindfulA11y\EventListener\AccessibilityNotice:
    tags:
      - name: event.listener
        identifier: 'mindfula11y-accessibility-notice'
        event: TYPO3\CMS\Backend\Controller\Event\ModifyPageLayoutContentEvent
        method: __invoke
